<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/Frontend/css/admin.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
        <div class="aside">
          <a href="/admin"><i class="fa-solid fa-house-chimney"></i>Inicio</a>
          <p id="toggleButton"><i class="fa-solid fa-server"></i>Base de datos<i class="fas fa-chevron-down abajo"></i>
          </p>
          <ul class="lista-secundaria" style="display: none;">
            <li><a href="categorias">Categorías</a></li>
            <li><a href="especializaciones">Especializaciones</a></li>
            <li><a href="especializacionDeUsuario">Especializacion de Usuario</a></li>
            <li><a href="proyectos">Proyectos</a></li>
            <li><a href="usuariosAdmin">Usuarios</a></li>
          </ul>
          <a href="/"><i class="fa-solid fa-house-chimney"></i>Volver a la pagina</a>
        </div>
        <div class="aside-usuario">
          <a onclick="CerrarSesion()"><p><i class="fa-solid fa-arrow-left"></i>Cerrar Sesión</p></a>
          <img class="img-fluid" src="<%= adminLogeado.path %>" alt="">
        </div>
      </div>

      <div class="col-md-9">
        <div class="container">
          <div class="usuario">
            <h3>¡Bienvenido <%= adminLogeado.nombre %>!<i class="fa-solid fa-hand-peace"></i></h3>
          </div>
          <div class="tarjetitas">
            <div class="row">
              <div class="col-md-4">
                <div class="tarjetita" data-aos="fade-up" data-aos-duration="2000">
                  <p class="numero">
                    <%= cantUsuarios %>
                  </p>
                  <p class="titulo-tarjetita">Usuarios</p>
                </div>
              </div>
              <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000">
                <div class="tarjetita">
                  <p class="numero">
                    <%= cantDestacados %>
                  </p>
                  <p class="titulo-tarjetita">Destacados</p>
                </div>
              </div>
              <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000">
                <div class="tarjetita">
                  <p class="numero">
                    <%= cantEspecializaciones %>
                  </p>
                  <p class="titulo-tarjetita">Especializaciones</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="/Frontend/js/script.js"></script>
  <script src="/Frontend/js/funciones_usuarios.js"></script>
  <script>
    AOS.init();
    VerificoAdmin();
  </script>
</body>

</html>