<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/index.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>

  <% if (usuarioLogeado) { %>
  <%- include ('../partials/headerParaUsuario') %>
  <% } else { %>
  <%- include ('../partials/header') %>
  <% } %>

  <div class="container">
    <div class="row">
      <div class="inicio">
        <div class="col-md-7">
          <div class="presentacion">
            <h5>Soluciones Domésticas</h5>
            <h1>Contrata profesionales</h1>
            <h4>Conecta Oficios es una solución tecnológica moderna y eficaz para tus necesidades.</h4>
            <a href="oficios/pagina:0" target="_blank">Ver Oficios<i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="imagen">
            <img class="img-fluid" src="/Frontend/img/mecanico.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- tarjetas -->

    <div class="tarjetas row">
      <div class="col-md-4">
        <div data-aos="fade-up" data-aos-duration="2000" class="tarjeta">

          <div class="icono">
            <i class="fas fa-briefcase" style="color: #ffffff;"></i>
          </div>
          <div class="titulo">
            <h5>Descubre Oportunidades Laborales</h5>
          </div>
          <hr>
          <div class="descripcion">
            <p>Explora oportunidades laborales en Chivilcoy a través de nuestra plataforma que une a trabajadores
              especializados con proyectos demandantes.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div data-aos="fade-up" data-aos-duration="2000" class="tarjeta">
          <div class="icono">
            <i class="fa-solid fa-people-robbery" style="color: #ffffff;"></i>
          </div>
          <div class="titulo">
            <h5>Conecta con Profesionales</h5>
          </div>
          <hr>
          <div class="descripcion">
            <p>Crea conexiones entre profesionales y clientes fomentando colaboraciones
              productivas y satisfactorias.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div data-aos="fade-up" data-aos-duration="2000" class="tarjeta">
          <div class="icono">
            <i class="fa-solid fa-map-location-dot" style="color: #ffffff;"></i>
          </div>
          <div class="titulo">
            <h5>Creciendo Juntos en Chivilcoy</h5>
          </div>
          <hr>
          <div class="descripcion">
            <p>Contribuye al crecimiento económico local en Chivilcoy
              al participar en una comunidad en línea dedicada a destacar las habilidades y servicios de la ciudad.</p>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- container -->

  <!---modificaciones de kevin
    anuncios-->

  <div class="anuncios">
    <div class="container">
      <%- include ('../partials/banner-anuncio') %>
      <!---encabezado de anuncios-->
      <div class="head-anuncios">
        <h6 class="titulo-cartel">Anuncios</h6>
        <h2>Descubre expertos</h2>
        <div class="texto-anuncios">
          <p class="texto-anuncio">Encuentra a dedicados expertos locales que ofrecen sus habilidades y servicios con un
            compromiso inquebrantable hacia la calidad y la satisfacción del cliente.</p>
        </div>

      </div>
      <!---fin encabezado de anuncios-->

      <!-- carrusel -->
      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30" slides-per-view="3">
        <% usuariosEsp.forEach(function(c){ %>
        <% if(c.destacado === 1){ %>
        <% especializacionUsuario.forEach(function(d){ %>
        <% if(c.id === d.id_usuario){ %>
        <% especializacion.forEach(function(e){ %>
        <% if(e.id === d.id_especializacion){ %>
        <swiper-slide>
          <div class="persona">
            <img class="img-fluid aspect-ratio-1-1" src="<%= c.path %>" alt="">
            <h3><%= e.especializacion %></h3>
            <a class="nombre" href="/perfil/<%=c.id%>"><%= c.nombre %> <%= c.apellido %></a>
            <div class="descripcion">
              <p> <%= c.descripcion %> </p>
            </div>
            <div class="ubicacion">
              <i class="fa-solid fa-location-dot"></i>
              <p> <%= c.direccion %></p>
            </div>
            <% if (usuarioLogeado) { %>
            <button><span class="btn-text"><%= c.contacto %></span><i class="fab fa-whatsapp"></i></button>
            <% } else { %>
            <a class="ver-perfil" href="/perfil/<%=c.id%>" target="_blank">Ir al Perfil<i class="fa-solid fa-arrow-right"></i></a>
            <% } %>
          </div>
        </swiper-slide>
        <!---Salir del for?-->
        <% }; %>
        <% }) %>
        <!---Salir del for?-->
        <% }; %>
        <% }) %>
        <% }; %>
        <% }) %>
      </swiper-container>
      <!-- fin carrusel -->

      <div class=" ver-mas">
        <a href="/oficios/pagina:0" target="">Ver más<i class="fa-solid fa-arrow-right"></i></a>
      </div>

    </div>
  </div>
  <!---fin tarjetas de anuncios-->


  <!---inicio footer-->

  <%- include ('../partials/footer') %>

  <!---fin footer-->

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
  <script src="/Frontend/js/script.js"></script>
  <script src="/Frontend/js/funciones_usuarios.js"></script>
  <!-- Script para disparar la funcion que valida el usuario-->
  <script type="text/javascript">
    /*     $(document).ready(function() {
      var token = sessionStorage.getItem("Token");
      var id = sessionStorage.getItem("IdUsuario");

      ValidarUsuario(token, id);
    }) */
    $(".unloged").on("click", function() {
      alert("Inicia sesion para ver esta informacion.");
    });
  </script>
  <script>
    AOS.init();
  </script>
</body>

</html>