<!DOCTYPE html>
<html lang="en">


<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/oficios.css">
</head>

<body>

  <% if (usuarioLogeado) { %>
  <%- include ('../partials/headerParaUsuario') %>
  <% } else { %>
  <%- include ('../partials/header') %>
  <% } %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="categorias">

          <% especializacion.forEach(function(c, index){ %>
          <div>
            <div class="padre" onclick="mostrarHijo(<%= index %>)"><%= c.categoria %><i class="fas fa-chevron-down abajo"></i></div>
            <div class="hijos" id="hijo<%= index %>" style="display: none;">
              <% c.especializaciones.forEach(function(e){ %>
              <div class="categoria <%= e.especializacion %>">
                <input data-id="<%= e.id %>" class="checkbox-especializacion" type="checkbox" id="checkbox-<%= e.id %>">
                <label for="checkbox-<%= e.id %>"><%= e.especializacion %></label>
              </div>
              <% }) %>
            </div>
          </div>
          <% }) %>

        </div>
      </div>
      <div class="col-md-9">
        <div class="personas" id="personas" data-pagina="<%= pag %>">
          <%- include ('../partials/banner-anuncio') %>
          <!---Llamo a los trabajadores destacados-->
          <% var contador = 0 %>
          <% usuariosEsp.forEach(function(c){ %>
          <% if(contador >= pag*10 && contador < (pag*10+10) ) { %>
          <% var especializacionesTexto = ''; %>
          <% c.especializaciones.forEach(function(e){ %>
          <% especializacionesTexto += e.id_especializacion+',' %>
          <% }) %>
          <div class="persona " data-especializacion="<%=  especializacionesTexto.substring(0, especializacionesTexto.length - 1); %>">
            <div class="row">
              <div class="col-md-3">
                <div class="imagen">
                  <% if(c.path != ""){ %>
                  <div class="imagen-container">
                    <img class="img-fluid" src="<%= c.path %>">
                  </div>
                  <% } else {; %>
                  <div class="imagen-container">
                    <img class="img-fluid" src="Frontend/img/usuario-sin-foto.png">
                  </div>
                  <% }; %>
                </div>
              </div>
              <div class="col-md-9">
                <div class="info-persona">
                  <% c.especializaciones.forEach(function(e){ %>
                  <div class="especialidades">
                    <h3>
                      <%= e.nombre %>
                    </h3>

                  </div>
                  <% }) %>
                  <a class="nombre" href="/perfil/<%=c.id%>">
                    <%= c.nombre %> <%= c.apellido %>
                    <% if (c.destacado != 0) { %>
                    <i class="fa-solid fa-star"></i>
                    <% }; %>
                  </a>
                  <div class="descripcion">
                    <p><%= c.descripcion %></p>
                  </div>
                  <div class="ubicacion">
                    <i class="fa-solid fa-location-dot"></i>
                    <p><%= c.direccion %></p>
                  </div>
                  <% if (usuarioLogeado) { %>
                  <a><span class="btn-text"><%= c.contacto %></span><i class="fab fa-whatsapp"></i></a>
                  <% } else { %>
                  <a class="ver-perfil" href="/perfil/<%=c.id%>" target="_blank">Ir al Perfil<i class="fa-solid fa-arrow-right"></i></a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% contador += 1 %>
          <% }) %>
          <% if(contador < (pag*10+10)) { %>
             <!--AGREGAR ESTILO -->
            <h1 id="fin" data-fin="1" >NO HAY MAS USUARIOS</h1>
          <% } %>
          <!---Llamo a los trabajadores NO destacados-->
        </div>
        <div class="botones">
          <a class="anterior" >Anterior</a>
          <a class="siguiente" >Siguiente<i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <!--colmd9 -->
    </div> <!-- row -->

  </div>

  <%- include ('../partials/footer') %>

  <script src="/Frontend/js/script.js"></script>

  <script type="text/javascript">

    var pagina = $("#personas").data("pagina");

    $(".anterior").on("click", function(){
      if(pagina > 0)
      {
        pagina -= 1;
        window.location.href="/oficios/" + pagina;
      }
    })
    $(".siguiente").on("click", function(){
      if($("#fin").data("fin") != 1)
      {
        pagina += 1;
        window.location.href="/oficios/" + pagina;
      }
    })
    

    function mostrarHijo(index) {
      const hijo = document.getElementById(`hijo${index}`);
      if (hijo.style.display === 'none' || hijo.style.display === '') {
        hijo.style.display = 'block';
      } else {
        hijo.style.display = 'none';
      }
    }

    $(".unloged").on("click", function() {
      alert("Inicia sesion para ver esta informacion.");
    });

    $(document).ready(function() {
      // Obtengo todas las casillas de verificación
      $(".checkbox-especializacion").on("change", function() {
        var checkedElements = new Array();
        $('.checkbox-especializacion:checked').each(function(i, e) {
          checkedElements.push($(e).attr('data-id'))

        });

        if (checkedElements.length == 0) {
          $('.persona').show();
          return false;
        }

        $('.persona').each(function(i, e) {
          var especializacion = $(e).attr('data-especializacion');

          var ArrayEspecializaciones = especializacion.split(',');

          var contador = 0;
          ArrayEspecializaciones.forEach(function(id_especializacion) {
            if (checkedElements.includes(id_especializacion)) {
              contador++;
            }
          });

          if (contador == 0) {
            $(e).hide();
          } else {
            $(e).show();
          }
        });
      });

      var categoriaSeleccionada = localStorage.getItem("categoriaSeleccionada");
      if (categoriaSeleccionada != null) {
        setTimeout(function() {
          console.log(categoriaSeleccionada);
          $('.checkbox-especializacion[data-id="' + categoriaSeleccionada + '"]').prop("checked", true).trigger("change");
          localStorage.removeItem("categoriaSeleccionada");
        }, 100);
      }
    });
  </script>

</body>

</html>