<!DOCTYPE html>
<html lang="en">


<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/oficios.css">
</head>

<body>

  <% if (adminLogeado) { %>
    <%- include ('../partials/headerParaAdmin') %>
  <% } else { %>
    <% if (usuarioLogeado) { %>
      <%- include ('../partials/headerParaUsuario') %>
    <% } else { %>
      <%- include ('../partials/header') %>
    <% } %>
  <% } %>

  <div class="container" class="perfil" data-perfil-id="<%= user_id %>">
    <div class="row">
      <div class="col-md-3">
        <div class="categorias">

          <% especializacion.forEach(function(c, index){ %>
          <div>
            <div class="padre" onclick="mostrarHijo(<%= index %>)"><%= c.categoria %><i class="fas fa-chevron-down abajo"></i></div>
            <div class="hijos" id="hijo<%= index %>" style="display: none;">
              <% c.especializaciones.forEach(function(e){ %>
              <div class="categoria <%= e.especializacion %>">
                <input data-id="<%= e.id %>" class="checkbox-especializacion" type="checkbox" id="checkbox-<%= e.id %>">
                <label for="checkbox-<%= e.id %>"><%= e.especializacion %></label>
              </div>
              <% }) %>
            </div>
          </div>
          <% }) %>

        </div>
      </div>
      <div class="col-md-9" id="tablero">
        <%- include ('../partials/banner-anuncio') %>
        <div class="personas" id="personas" data-pagina="<%= pag %>">
          <!--ACA SE AGREGAN LAS TARJETAS "PERSONA" EN funciones_usuarios.js EN AgregoEspecialistasElegidos(ids, pag) -->
        </div>
      </div>
      <!--colmd9 -->
    </div> <!-- row -->

  </div>

  <%- include ('../partials/footer') %>

  <script src="/Frontend/js/script.js"></script>
  <script src="/Frontend/js/funciones_usuarios.js"></script>

  <script type="text/javascript">

    function mostrarHijo(index) {
      const hijo = document.getElementById(`hijo${index}`);
      if (hijo.style.display === 'none' || hijo.style.display === '') {
        hijo.style.display = 'block';
      } else {
        hijo.style.display = 'none';
      }
    }

    $(document).ready(function() {

      var pagina = $("#personas").data("pagina");

      AgregoEspecialistasElegidos("()", pagina);

      var espElegidasArray = "()"

      $(".unloged").on("click", function() {
        alert("Inicia sesion para ver esta informacion.");
      });

      // Obtengo todas las casillas de verificación
      $(".checkbox-especializacion").on("change", function() {

        var checkedElements = new Array();
        $('.checkbox-especializacion:checked').each(function(i, e) {
          checkedElements.push($(e).attr('data-id'))    //ACA OBTENGO LOS IDs DE ESPECIALIZACIONES
          console.log(checkedElements) 
        });
        espElegidasArray = "(" + checkedElements.join(", ") + ")"; 

        AgregoEspecialistasElegidos(espElegidasArray, pagina);
        
      });

      $(".anterior").on("click", function(){
      if(pagina > 0)
      {
        pagina -= 1;
        AgregoEspecialistasElegidos(espElegidasArray, pagina);
      }
    })

    $(".siguiente").on("click", function(){
      //if($("#fin").data("fin") != 1)
      {
        pagina += 1;
        AgregoEspecialistasElegidos(espElegidasArray, pagina);
      }
    })

      var categoriaSeleccionada = localStorage.getItem("categoriaSeleccionada");
      if (categoriaSeleccionada != null) {
        setTimeout(function() {
          console.log(categoriaSeleccionada);
          $('.checkbox-especializacion[data-id="' + categoriaSeleccionada + '"]').prop("checked", true).trigger("change");
          localStorage.removeItem("categoriaSeleccionada");
        }, 100);
      }
    });

  </script>

</body>

</html>