<!DOCTYPE html>
<html lang="en">


<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/oficios.css">
</head>

<body>

  <%- include ('../partials/header') %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="categorias">
          <p>Categorías</p>
          <div class="categoria">
            <input id="agua" type="checkbox">
            <label for="agua">AGUA</label>
          </div>
          <div class="categoria">
            <input id="gas" type="checkbox">
            <label for="gas">GAS</label>
          </div>
          <div class="categoria">
            <input id="electricidad" type="checkbox">
            <label for="electricidad">ELECTRICIDAD</label>
          </div>
          <div class="categoria">
            <input id="tecnologia" type="checkbox">
            <label for="tecnologia">TECNOLOGÍA</label>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="personas">
          <% usuariosEsp.forEach(function(c){ %>  
            <div class="persona">
              <div class="row">
                <div class="imagen col-md-3">
                  <img class="img-fluid" src="<%= c.path %>" alt="">
                </div>
                <div class="info-persona col-md-9">
                  <div class="especialidades">
                    <h4>Agua</h4>
                    <h3>Plomero</h3>
                  </div>
                  <h5><%= c.nombre %> <%= c.apellido %></h5>
                  <div class="descripcion">
                    <p><%= c.descripcion %></p>
                  </div>
                  <div class="ubicacion">
                    <i class="fa-solid fa-location-dot"></i>
                    <p><%= c.direccion %></p>
                  </div>
                  <button><%= c.contacto %> <i class="fab fa-whatsapp"></i></button>
                </div>
              </div>
            </div>
          <% }) %>
        </div>

      </div>
    </div>

  </div>

  <%- include ('../partials/footer') %>

  <script src="/Frontend/js/script.js"></script>
</body>

</html>