<!DOCTYPE html>
<html lang="en">


<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/oficios.css">
</head>

<body>

  <% if (usuarioLogeado) { %>
  <%- include ('../partials/headerParaUsuario') %>
  <% } else { %>
  <%- include ('../partials/header') %>
  <% } %>

  <div class="container" class="perfil" data-perfil-id="<%= user_id %>">
    <div class="row">
      <div class="col-md-3">
        <div class="categorias">

          <% especializacion.forEach(function(c, index){ %>
          <div>
            <div class="padre" onclick="mostrarHijo(<%= index %>)"><%= c.categoria %><i class="fas fa-chevron-down abajo"></i></div>
            <div class="hijos" id="hijo<%= index %>" style="display: none;">
              <% c.especializaciones.forEach(function(e){ %>
              <div class="categoria <%= e.especializacion %>">
                <input data-id="<%= e.id %>" class="checkbox-especializacion" type="checkbox" id="checkbox-<%= e.id %>">
                <label for="checkbox-<%= e.id %>"><%= e.especializacion %></label>
              </div>
              <% }) %>
            </div>
          </div>
          <% }) %>

        </div>
      </div>
      <div class="col-md-9">
        <%- include ('../partials/banner-anuncio') %>
        <div class="personas" id="personas" data-pagina="<%= pag %>">
        </div>
        <!--AGREGAR ESTILO -->
       <h1 id="fin" data-fin="1" style="display: none;">NO HAY MAS USUARIOS</h1>
        <div class="botones">
          <a class="anterior" >Anterior</a>
          <a class="siguiente" >Siguiente<i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <!--colmd9 -->
    </div> <!-- row -->

  </div>

  <%- include ('../partials/footer') %>

  <script src="/Frontend/js/script.js"></script>
  <script src="/Frontend/js/funciones_usuarios.js"></script>

  <script type="text/javascript">

    $(".wsLoged").on("click" , function(e){

      var numeros = ($(e.currentTarget).data("numero-ws")).match(/\d+/g);
      var idPersona = $(e.currentTarget).parent().attr('data-id');

      var numerosUnidos = numeros.join(''); // Convierte el array de números en un solo string

      var redirigir = "https://wa.me/" + numerosUnidos;

      console.log(redirigir)
      console.log(idPersona)

      HabilitoReseña(idPersona, redirigir);

    })

    var pagina = $("#personas").data("pagina");

    $(".anterior").on("click", function(){
      if(pagina > 0)
      {
        pagina -= 1;
        window.location.href="/oficios/" + pagina;
      }
    })
    $(".siguiente").on("click", function(){
      if($("#fin").data("fin") != 1)
      {
        pagina += 1;
        window.location.href="/oficios/" + pagina;
      }
    })
    

    function mostrarHijo(index) {
      const hijo = document.getElementById(`hijo${index}`);
      if (hijo.style.display === 'none' || hijo.style.display === '') {
        hijo.style.display = 'block';
      } else {
        hijo.style.display = 'none';
      }
    }

    $(".unloged").on("click", function() {
      alert("Inicia sesion para ver esta informacion.");
    });

    $(document).ready(function() {

      AgregoEspecialistasElegidos("()", pagina);

      // Obtengo todas las casillas de verificación
      $(".checkbox-especializacion").on("change", function() {
        var checkedElements = new Array();
        $('.checkbox-especializacion:checked').each(function(i, e) {
          checkedElements.push($(e).attr('data-id'))
          console.log(checkedElements) //ACA OBTENGO LOS IDs DE ESPECIALIZACIONES
        });

        var espElegidasArray = "(" + checkedElements.join(", ") + ")";

        console.log(pagina)
        console.log(espElegidasArray)

        AgregoEspecialistasElegidos(espElegidasArray, pagina);
/* 
        if (checkedElements.length == 0) {
          $('.persona').show();
          return false;
        }

        $('.persona').each(function(i, e) {
          var especializacion = $(e).attr('data-especializacion');

          var ArrayEspecializaciones = especializacion.split(',');

          var contador = 0;
          ArrayEspecializaciones.forEach(function(id_especializacion) {
            if (checkedElements.includes(id_especializacion)) {
              contador++;
            }
          });

          if (contador == 0) {
            $(e).hide();
          } else {
            $(e).show();
          }
        }); */
      });

      var categoriaSeleccionada = localStorage.getItem("categoriaSeleccionada");
      if (categoriaSeleccionada != null) {
        setTimeout(function() {
          console.log(categoriaSeleccionada);
          $('.checkbox-especializacion[data-id="' + categoriaSeleccionada + '"]').prop("checked", true).trigger("change");
          localStorage.removeItem("categoriaSeleccionada");
        }, 100);
      }
    });
  </script>

</body>

</html>