<!DOCTYPE html>
<html lang="es">


<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/registro.css">
</head>

<body>

  <%- include ('../partials/headerRegistro') %>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="registro">
          <p class="titulo">Crear Cuenta</p>
          <div>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" id="nombre" type="text" placeholder="Nombre (*)">
              </div>
              <div class="col-md-6">
                <input class="form-control" id="apellido" type="text" placeholder="Apellido (*)">
              </div>
            </div>
            <input class="form-control" id="email" type="email" placeholder="Email (*)">
            <input class="form-control" id="password" type="password" placeholder="Contraseña (*)">
            <div class="contenedorCheckbox">
              <input class="checkbox" type="checkbox" id="mostrarCampos">
              <label for="mostrarCampos">Quiero ofrecer mis servicios</label>
            </div>
            <div id="camposAdicionales" style="display: none;">
              <input class="form-control" id="contacto" type="text" placeholder="Contacto (*)">
              <input class="form-control" id="direccion" type="text" placeholder="Dirección (*)">
              <label class="label-categoria" for="categorias">Selecciona una categoría:</label>
              <select class="form-control select-categoria" id="categorias">
                <% especializacion.forEach(function(c){ %>
                <option value="<%= c.id %>"><%= c.especializacion %></option>
                <% }) %>
              </select>
              <input class="form-control" id="descripcion" type="text" placeholder="Descripción">
            </div>
            <input class="form-control registrar" type="submit" value="Crear Cuenta">
          </div>
          <p>¿Ya tienes una cuenta?</p><a href="iniciarSesion">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>

  <!---inicio footer-->

  <%- include ('../partials/footer') %>

  <!---fin footer-->

  <script src="/Frontend/js/script.js"></script>
  <script src="/Frontend/js/funciones_usuarios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Script para disparar la funcion que crea el usuario-->
  <script type="text/javascript">
    //Obtengo el valor de la checkbox en booleano
    var checkbox = document.getElementById("mostrarCampos");
    var especialista = false;

    checkbox.addEventListener("change", function() {
      if (this.checked) {
        especialista = true;
      } else {
        especialista = false;
      }
    });

    //Tras apretar "Crear cuenta" obtengo los valores de los inputs
    $(".registrar").on("click", function() {

      var especificaciones = new FormData();

      especificaciones.append('nombre', $("#nombre").val());
      especificaciones.append('apellido', $("#apellido").val());
      especificaciones.append('contacto', $("#contacto").val());
      especificaciones.append('email', $("#email").val());
      especificaciones.append('password', $("#password").val());
      especificaciones.append('trabaja', especialista);
      especificaciones.append('direccion', $("#direccion").val());
      especificaciones.append('especializacion_id', $("#categorias").val());

      //Llamo la funcion enviandole los parametros obtenidos
      console.log(especificaciones);
      RegistrarUsuario(especificaciones);
    })
  </script>

</body>

</html>