<!DOCTYPE html>
<html lang="es">


<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/registro.css">
</head>

<body>

  <%- include ('../partials/headerRegistro') %>

  <div id="terminos" class="terminos">
    <div class="container-terminos">
      <h2>Términos y Condiciones</h2>
      <textarea class="text" readonly>
          Términos y Condiciones de Uso

          Estos Términos y Condiciones de Uso ("Términos") regulan el uso de la plataforma "Conecta Oficios" ("Plataforma"), que conecta a usuarios profesionales de oficios, en adelante denominados "Profesionales", con usuarios que requieren servicios, en adelante denominados "Clientes". Al acceder y utilizar esta Plataforma, usted acepta estar legalmente vinculado por estos Términos. Si no acepta estos Términos, no puede utilizar la Plataforma.
          
          1. Registro de Cuenta
          
          1.1. Para convertirse en un Profesional registrado en la Plataforma, debe proporcionar información precisa y completa durante el proceso de registro. Usted es responsable de mantener su información de registro actualizada.
          
          1.2. Usted debe ser un profesional calificado y capacitado en su oficio y cumplir con todas las leyes y regulaciones aplicables para ofrecer sus servicios a través de la Plataforma.
          
          2. Responsabilidades de los Profesionales
          
          2.1. Los Profesionales son responsables de proporcionar servicios de calidad a los Clientes y cumplir con los plazos acordados.
          
          2.2. Los Profesionales deben mantener un comportamiento profesional en todo momento y tratar a los Clientes con respeto y cortesía.
          
          3. Responsabilidades de los Clientes
          
          3.1. Los Clientes son responsables de proporcionar información precisa y detallada sobre sus necesidades de servicios.
          
          3.2. Los Clientes deben respetar los términos y plazos acordados con los Profesionales y proporcionar acceso seguro y adecuado a sus propiedades para la prestación de los servicios.
          
          4. Pagos
          
          4.1. Los pagos por los servicios prestados a través de la Plataforma se acuerdan entre el Cliente y el Profesional. La Plataforma no es responsable de las transacciones financieras entre las partes.
          
          5. Cancelaciones y Reembolsos
          
          5.1. Las políticas de cancelación y reembolso están sujetas a los acuerdos individuales entre el Cliente y el Profesional. La Plataforma no tiene control sobre estas políticas.
          
          6. Privacidad y Seguridad de los Datos
          
          6.1. La Plataforma se compromete a proteger la privacidad y la seguridad de los datos de los usuarios de acuerdo con su Política de Privacidad.
          
          7. Propiedad Intelectual
          
          7.1. Todo el contenido y la propiedad intelectual relacionada con la Plataforma son propiedad de "Conecta Oficios" y están protegidos por las leyes de propiedad intelectual aplicables.
          
          8. Modificaciones de los Términos
          
          8.1. "Conecta Oficios" se reserva el derecho de modificar estos Términos en cualquier momento. Los cambios se publicarán en la Plataforma y se considerarán efectivos a partir de la fecha de publicación.
          
          9. Terminación de la Cuenta
          
          9.1. "Conecta Oficios" se reserva el derecho de suspender o cancelar cuentas de usuarios que violen estos Términos o involucren en conducta inapropiada.
          
          10. Ley Aplicable y Jurisdicción
          
          10.1. Estos Términos se rigen por las leyes de Argentina, y cualquier disputa se resolverá en los tribunales de Buenos Aires.
          
          Al usar esta Plataforma, usted reconoce que ha leído, comprendido y aceptado estos Términos y Condiciones. Si tiene alguna pregunta o inquietud, comuníquese con nosotros a través de Contacto@ConectaOficios.com.
          
          Fecha de entrada en vigencia: 26/09/23
          
          "Conecta Oficios"
          Buenos Aires, Argentina
          Contacto@ConectaOficios.com
        </textarea>
      <div class="content">
        <div class="button text-end">
          <button id="boton-aceptar">Aceptar</button>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="registro">
          <p class="titulo">Crear Cuenta</p>
          <div>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" id="nombre" type="text" placeholder="Nombre (*)">
              </div>
              <div class="col-md-6">
                <input class="form-control" id="apellido" type="text" placeholder="Apellido (*)">
              </div>
            </div>
            <input class="form-control" id="email" type="email" placeholder="Email (*)">
            <input class="form-control" id="password" type="password" placeholder="Contraseña (*)">
            <div class="contenedorCheckbox">
              <input class="checkbox" type="checkbox" id="aceptar-terminos">
              <div>
                <label class="labelRegistro" for="aceptar-terminos">He leído y acepto los</label>
                <a class="terminos-condiciones">Términos y Condiciones</a>
              </div>
            </div>
            <div class="contenedorCheckbox">
              <input class="checkbox" type="checkbox" id="mostrarCampos">
              <label class="labelRegistro" for="mostrarCampos">Quiero ofrecer mis servicios</label>
            </div>
            <div id="camposAdicionales" style="display: none;">
              <input class="form-control" id="contacto" type="text" placeholder="Contacto (*)">
              <input class="form-control" id="direccion" type="text" placeholder="Dirección (*)">
              <label class="label-categoria" for="categorias">Selecciona tus especialidades: </label>
              <select class="form-control select-categoria" id="categorias" multiple size="6">

                <% var categoria_actual = especializacion[0].categoria; %>
                <optgroup label="<%=especializacion[0].categoria%>">

                <% especializacion.forEach(function(c){ %>
                <% if(c.categoria === categoria_actual) { %>
                <option value="<%= c.id %>"><%= c.especializacion %></option>
                <% } else {%>
                <% categoria_actual = c.categoria; %>
                <optgroup label="<%=c.categoria%>">
                <option value="<%= c.id %>"><%= c.especializacion %></option>
                <% } %>
                <% }) %>
              </select>

              <input class="form-control" id="descripcion" type="text" placeholder="Descripción">
            </div>
            <input class="form-control registrar" type="submit" value="Siguiente">
          </div>
          <p>¿Ya tienes una cuenta?</p><a href="iniciarSesion">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>

  <!---inicio footer-->

  <%- include ('../partials/footer') %>

  <!---fin footer-->

  <script src="/Frontend/js/script.js"></script>
  <script src="/Frontend/js/funciones_usuarios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Script para disparar la funcion que crea el usuario-->
  <script type="text/javascript">
    //Obtengo el valor de la checkbox en booleano
    var checkbox = document.getElementById("mostrarCampos");
    var especialista = 0;

    checkbox.addEventListener("change", function() {
      if (this.checked) {
        especialista = 1;
      } else {
        especialista = 0;
      }
    });

    document.addEventListener("DOMContentLoaded", function() {
      const termsOverlay = document.getElementById("terminos");
      const acceptButton = document.getElementById("boton-aceptar");


      $('.terminos-condiciones').on("click", function() {
        // Mostrar el cartel de términos y condiciones
        termsOverlay.style.display = "block";
      })

      // Evento para ocultar el cartel cuando se hace clic en Aceptar
      acceptButton.addEventListener("click", function() {
        termsOverlay.style.display = "none";
      });
    });

    //Tras apretar "Crear cuenta" obtengo los valores de los inputs
    $(".registrar").on("click", function() {

      const acceptCheckbox = document.getElementById("aceptar-terminos");
      if (!acceptCheckbox.checked) {
        alert("Debes aceptar los términos y condiciones para continuar.");
      } else {
        var especificaciones = new FormData();

        especificaciones.append('nombre', $("#nombre").val());
        especificaciones.append('apellido', $("#apellido").val());
        especificaciones.append('contacto', $("#contacto").val());
        especificaciones.append('email', $("#email").val());
        especificaciones.append('password', $("#password").val());
        especificaciones.append('trabaja', especialista);
        especificaciones.append('direccion', $("#direccion").val());
        especificaciones.append('descripcion', $("#descripcion").val());
        especificaciones.append('especializacion_id', $("#categorias").val());

        //Llamo la funcion enviandole los parametros obtenidos
        RegistrarUsuario(especificaciones);
      }
    })
  </script>

  <script>




  </script>

</body>

</html>